.table-bordered td,
.table-bordered th {
    border: 1px solid #2b3239 !important;
}

table.table thead th {
    border-top: 1px solid #2b3239;
    border-bottom: 1px solid #2b3239;
}

table td {
    font-size: 1rem !important;
    font-weight: 300;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    display: inline-block;
    animation: rotate 1s linear infinite;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    /* Một lớp phủ mờ màu trắng */
    display: flex;
    justify-content: center;
    align-items: center;
}